/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.php
/app/config/*.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!/app/config/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.buildpath
/.project
/.settings/
