{% extends '::base.html.twig' %}

{% block body -%}
<h1>Gramfoodklembowdok creation</h1>

{{ form(form) }}

<ul class="record_actions">
	<li><a href="{{ path('komp') }}"> Back to the list </a></li>
</ul>
{% endblock %}
