                <!-- Modal1 - okno modalne warstwy 1  -->
                <!-- do wykorzystywania przy wyswietlaniu okiem pierwszej warstwy -->
                <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1Label" aria-hidden="true">
                  <div class="modal-dialog" id="Modal1-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" onClick="closeModal('#Modal1')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="Modal1-Label"></h4>
                      </div>
                      <div class="modal-body" id="Modal1-bodyku">
                      </div>
                      <div class="modal-footer" id="Modal1-footerq">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modal ------------------------------>

                <!-- Modal2 - okno modalne warstwy 1  -->
                <!-- do wykorzystywania przy wyswietlaniu okiem pierwszej warstwy -->
                <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="Modal2Label" aria-hidden="true">
                  <div class="modal-dialog" id="Modal2-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" onClick="closeModal('#Modal2')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="Modal2-Label"></h4>
                      </div>
                      <div class="modal-body" id="Modal2-bodyku">
                      </div>
                      <div class="modal-footer" id="Modal2-footerq">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modal ------------------------------>
                
                <!-- Modal3 - okno modalne warstwy 1  -->
                <!-- do wykorzystywania przy wyswietlaniu okiem pierwszej warstwy -->
                <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="Modal3Label" aria-hidden="true">
                  <div class="modal-dialog" id="Modal3-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" onClick="closeModal('#Modal3')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="Modal3-Label"></h4>
                      </div>
                      <div class="modal-body" id="Modal3-bodyku">
                      </div>
                      <div class="modal-footer" id="Modal3-footerq">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modal ------------------------------>          
                      
                <!-- Modal4 - okno modalne warstwy 1  -->
                <!-- do wykorzystywania przy wyswietlaniu okiem pierwszej warstwy -->
                <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="Modal4Label" aria-hidden="true">
                  <div class="modal-dialog" id="Modal4-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" onClick="closeModal('#Modal4')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="Modal4-Label"></h4>
                      </div>
                      <div class="modal-body" id="Modal4-bodyku">
                      </div>
                      <div class="modal-footer" id="Modal4-footerq">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end of modal ------------------------------>          
